button {
  border-radius: 5px;
  box-shadow: none;
  border: 0.8px solid;
  background-color: #FFFFFF;
}

body {
  background-color: #e4e1e1d8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 70px;
  width: 100%;
  margin-bottom: 15px;
  padding: 30px;
  color: aliceblue;
}
header a {
  color: #FFFFFF;
  text-decoration: none;
}
header a:hover {
  color: azure;
  text-transform: uppercase;
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  header {
    height: 80px;
    padding: 15px;
  }
}

.tools-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 0;
  padding: 20px;
  min-height: 610px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  background-color: #FFFFFF;
}
.tools-card input, .tools-card select {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 80%;
}
.tools-card .tools-card-maker {
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
  min-height: 200px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  background-color: #FFFFFF;
}
.tools-card .tools-card-maker input, .tools-card .tools-card-maker select {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 80%;
}
.tools-card .tools-card-maker .tools-card-maker-boton {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.tools-card .tools-card-maker .tools-card-maker-list {
  margin-bottom: 40px;
}
.tools-card .tools-card-dolar {
  margin-bottom: 15px;
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
  min-height: 200px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  background-color: #FFFFFF;
}
.tools-card .tools-card-dolar input, .tools-card .tools-card-dolar select {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 40%;
}
.tools-card .tools-card-dolar .tools-card-dolar-boton {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.tools-card .tools-card-btn-borrar {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 90%;
  background-color: #c72929 !important;
  text-transform: uppercase;
}

.info-card {
  position: relative;
  position: relative;
  margin-bottom: 10px;
  padding: 15px;
  min-height: 300px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  background-color: #FFFFFF;
}
.info-card input, .info-card select {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 0;
}
.info-card .eliminaCard {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.info-card:hover {
  box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 600px) {
  .info-card {
    position: relative;
    margin-bottom: 10px;
    padding: 15px;
    min-height: 150px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    background-color: #FFFFFF;
    margin-top: 20px;
  }
  .info-card input, .info-card select {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 35%;
  top: 25%;
  width: 40%;
  height: 40%;
  overflow: auto;
  padding: 40px;
  border: 1px solid;
  border-radius: 15px;
  background-color: #FFFFFF;
  text-align: center;
}
.modal h2 {
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 0;
    border-radius: 0;
  }
}

/*# sourceMappingURL=style.css.map */
