@mixin tarjeta($alto, $ancho, $pad, $mb, $inWid) {
  position: relative;
  margin-bottom: $mb;
  padding: $pad;
  height: $alto;
  width: $ancho;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  input, select{
    margin-bottom: 10px;
    border-radius: 5px;
    width: $inWid;
  }
}