@import "tarjetas";
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 70px;
  width: 100%;
  margin-bottom: 15px; 
  padding: 10px;
  color: aliceblue;
  a{
    color: #FFFFFF;
    text-decoration: none;
    &:hover{
      color:azure;
      text-transform: uppercase;
      text-decoration: underline;
      
    }
  }
}
.tools-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tarjeta(610px, 100%, 20px, 0, 80%);
  .tools-card-maker{
    @include tarjeta(200px, 80%, 15px, 30px, 80%);
    .tools-card-maker-boton{
      position: absolute;
      bottom: 15px;
      right: 15px; 
    }
  }
  .tools-card-dolar{
    @include tarjeta(200px, 80%, 15px, 30px, 40%);
    .tools-card-dolar-boton{
      position: absolute;
      bottom: 15px;
      right: 15px; 
    }
  }
  .tools-card-btn-borrar{
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 90%;
    background-color: red;
    text-transform: uppercase;
  }
}

.info-card{
  @include tarjeta(300px, 100%, 15px, 10px, 0);
  &:hover{
    box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.4);
  }
}