
@import "tarjetas";
@import "botones";

body{
  background-color: #e4e1e1d8;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 70px;
  width: 100%;
  margin-bottom: 15px; 
  padding: 30px;
  color: aliceblue;
  a{
    color: #FFFFFF;
    text-decoration: none;
    &:hover{
      color:azure;
      text-transform: uppercase;
      text-decoration: underline;
      
    }
  }
  @media only screen and (max-width: 600px){
    height: 80px;
    padding: 15px;
  }
}
.tools-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px !important;
  @include tarjeta(610px, 100%, 20px, 0, 80%);
  .tools-card-maker{
    @include tarjeta(200px, 80%, 15px, 30px, 80%);
    .tools-card-maker-boton{
      position: absolute;
      bottom: 15px;
      right: 15px; 
    }
    .tools-card-maker-list{
      margin-bottom: 40px;
    }
  }
  .tools-card-dolar{
    margin-bottom: 15px;
    @include tarjeta(200px, 80%, 15px, 30px, 40%);
    .tools-card-dolar-boton{
      position: absolute;
      bottom: 15px;
      right: 15px; 
    }
  }
  .tools-card-btn-borrar{
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 90%;
    background-color: #c72929 !important;
    text-transform: uppercase;
  }
} 

.info-card{
  position: relative;
  @include tarjeta(300px, 100%, 15px, 10px, 0);
  .eliminaCard{
    position: absolute;
    bottom: 15px;
    right: 15px;
  } 
  &:hover{
    box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.4);
  }
  @media only screen and (max-width: 600px){
    @include tarjeta(150px, 100%, 15px, 10px, 0);
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 601px) and (max-width: 1000px){
    margin-bottom: 30px;
  }
}
.modal{
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 35%;
  top: 25%;
  width: 40%; 
  height: 40%; 
  overflow: auto; 
  padding: 40px;
  box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.4);
  border: 1px solid;
  border-radius: 15px;
  background-color: #FFFFFF;
  text-align: center;
  h2{
    text-transform: uppercase;
  }
  .modal-eliminar{
    background-color: #c72929 !important;
  }
  @media only screen and (max-width: 600px){
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    padding: 20px;
    border: 0;
    border-radius: 0;
  }
  @media only screen and (min-width: 601px) and (max-width: 1000px){
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    padding: 20px;
    border: 0;
    border-radius: 0;
  }
}